.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-self: flex-end;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  align-self: stretch;
  padding: 5px;

  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16px;

  background: #ffdfa7;
  border: 5px solid #ca9650;
}
.fighter-preview___info h3 {
  margin: 0 0 5px;
}

.attack span {
  color: #006400;
}
.defense span {
  color: orangered;
}
